body, #root, .App {
    min-height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a.nav-link, a.navbar-brand {
    color: var(--color-ui-text);
    font-size: 12pt;
    padding: 0px 8px;
}

a.nav-link:hover, a.navbar-brand:hover {
    color: var(--color-ui-text-shade);
}

a.nav-link:focus, a.navbar-brand:focus,
.navbar-nav a.nav-link.active, .navbar-nav .show>a.nav-link {
    color: var(--color-ui-text);
}

div.app-head {
    max-width: 90%;
    background: var(--color-ui-box);
    border: 3px solid var(--color-ui-border);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: -10px;
    padding-top: 10px;    
}

.app-head > div {
    max-width: 98%;
}

.app-footer {
    margin-top: 10px;
}

.app-footer .nav-tabs {
    border-bottom: none;
}

.app-footer .nav-tabs .nav-link {
    background: var(--color-ui-border-light);
    color: var(--color-ui-box);
    padding: 3px 0px;
    margin: 0px 3px;
}

.app-footer .nav-tabs .nav-link.active {
    background: var(--color-ui-box-hover);
    color: var(--color-ui-text);
    border: 1px solid var(--color-ui-border);
}

.app-footer .footer-tab {
    padding: 15px;
    background: var(--color-ui-box-hover);
    border: 1px solid var(--color-ui-border);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error {
    color: var(--color-ui-error);
}

.left {
    text-align: left;
}

.nowrap {
    white-space: nowrap;
}

.wrap-anywhere {
    overflow-wrap: break-word;
}

hr.delimeter {
    color: var(--color-ui-border);
    opacity: 0.70;
    margin: 0.1rem 0 0.6rem 0;
}

.menu-container, .menu-container-full {
    background-color: var(--color-ui-box-hover);
    border: solid var(--color-ui-border) 2px;
    border-radius: 10px;
}

div.menu-container-full, div.container-full {
    max-width: 100%;
}

.menu-box {
    margin: 25px 5px;
    padding: 10px !important;
    color: var(--color-ui-text);
    font-size: 10pt;
    background-color: var(--color-ui-box);
    padding: 0 5px;
    border: solid var(--color-ui-border) 1px;
    border-radius: 10px;
}

.menu-box table {
    width: 100%;
}

.menu-box th {
    font-size: 10pt;
    border-bottom: solid var(--color-ui-border) 1px;
    border-right: solid var(--color-ui-border) 1px;
}

.menu-box td {
    padding: 0 5px;
    border-right: solid var(--color-ui-border) 1px;
}

.menu-box td.left {
    padding-left: 20px;
}

.menu-box td:last-child, .menu-box th:last-child {
    border-right: none;
    width: 85px;
}

.menu-box-head {
    padding: 10px;
    font-size: 12pt;
    font-weight: bold;
}

.menu-box-row-desc {
    padding-left: 25px !important;
    text-align: left;
    width: 140px
}

.menu-box-col-clear {
    max-width: 360px;
}

.row > .menu-box-col {
    max-width: 300px;
}

.menu-box-clear {
    max-width: 250px;
}

.menu-box-clear div.row {
    padding: 5px;
}

.menu-box-clear div img {
    width: 250px;
    height: 250px;
    margin: 20px 0px;
}

.menu-control {
    text-align: left;
    height: 30px;
    background-color: var(--color-ui-border);
    padding-top: 2px;
    border-radius: 3px;
}

.menu-control div:last-child {
    width: 30px;
    padding: 0;
}

div .menu-list-row, .menu-list-title, .menu-input-row {
    width: 100%;
    padding: 6px;
    color: var(--color-ui-text);
}

.menu-list-row {
    font-size: 10pt;
}

.menu-list-row img {
    width: 30px;
    height: 30px;
}

.menu-list-row:hover {
    background-color: #008f8f;
}

.menu-list-row a:hover {
    text-decoration: underline;
}

.menu-list-row > div.input-group > div,
    .menu-list-row > div,
    .menu-list-title > div,
    .menu-input-row > div {
    align-self: center;
}

.menu-list-row > div button {
    width: auto;
    padding: 2px 5px;
    margin: 2px 3px;
    font-size: 9pt;
}

.menu-list-box {
    border: 1px solid var(--color-ui-border-light);
    border-radius: 2px;
    margin: 8px 0px;
    padding: 10px 0px;
}

.menu-list-box .row.resource-full {
    color: var(--color-ui-border);
}

.menu-list-box.patent-ready {
    background: var(--color-ui-border-light);
    opacity: 50%;
}

.menu-absolute.container {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0px;
    left: 0px;
    width: var(--map-width);
    max-width: var(--map-width);
    height: var(--map-height);
    max-height: var(--map-height);
}

.selected-item {
    display: inline;
    margin: 0px 3px;
}

.selected-item > button {
    margin-left: 3px;
}

.map-container.container {
    position: relative;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.map {
    background-color: #bbb;
}

button.btn {
    width: 160px;
    font-size: 10pt;
    color: var(--color-ui-text);
    border-radius: 5px;
}

button.btn-primary {
    border: solid var(--color-ui-border) 1px;
    background-color: var(--color-ui-box);
}

button.btn-close {
    color: #0094ff;
    padding: 2px;
    width: 15px;
    height: 15px;
    border: 2px solid #000;
    /*background-color: #000;*/
}

div.popover {
    border-radius: 10px;
}
div.popover-body {
    border-radius: 10px;
    padding: 10px;
    color: var(--color-ui-text);
    background-color: var(--color-ui-box);
    border: solid 1px var(--color-ui-border);
}

div.popover-body .form-select {
    margin-bottom: 7px;
}

input.form-control, select.form-select, textarea.form-control {
    color: var(--color-ui-text);
    border: solid var(--color-ui-border) 1px;
    background-color: var(--color-ui-input);
    font-size: 10pt;
}

input.form-control:focus, select.form-select:focus,
    textarea.form-control:focus {
    color: var(--color-ui-text);
    background-color: var(--color-ui-input-focus);
}

input.form-control::placeholder, textarea.form-control::placeholder {
    color: var(--color-ui-text-shade);
}

.item-code {
    padding: 40px;
    text-align: center;
}